<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    </head>
    <body>
        {%for message in messages%}
            {%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                <p id = 'tempMessage' class="alert alert-primary text-center">{{message}}</p>
            {%endif%}
        {%endfor%}
         <nav class="navbar navbar-expand-lg navbar-light bg-dark justify-content-center">

            <a class="navbar-brand main-heading"> 
                    
              &nbsp; MindOrganizer 
            
            </a>
        
        
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
        
            </button>
        
        
              <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        
                
                <ul class="navbar-nav ml-auto">
                  &nbsp;     &nbsp;     &nbsp;  &nbsp;  &nbsp; 
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'dashboard'%}">Dashboard</a>
                  </li>
                  &nbsp;     &nbsp;     &nbsp; 
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'createThought'%}" >Create a thought</a>
                  </li>
                  &nbsp;     &nbsp;     &nbsp;   
                  <li class="nav-item">
                    <a class="nav-link"   href="{% url 'yourThoughts'%}" >Your thoughts</a>
                  </li>
                  &nbsp;     &nbsp;     &nbsp;   
                </ul>
              </div>
        </nav>
        <h5> hello {{user}}</h5>
        <h1>   Here is what your'e thinking about....</h1>
        <br>
          <div class="container bg-dark shadow-md" style ='padding: 1%;'>
          {%for thought in thoughts%}
            
                <h3>{{thought.title}}</h3>
                <p>{{thought.content}}</p>
                <p>{{thought.date_posted}}</p>
            
            <br>
          {%endfor%}
          </div>
        <br><br>
        <div class="container bg-dark shadow-md">&nbsp;&nbsp;&nbsp;<a href =  "{%url 'logout'%}">Logout</a></div>
    </body>
    <script>
        setTimeout(() => {
            document.getElementById('tempMessage').style.display = 'none';
        }, 3000);
    </script>
</html>